header{
  background-color: $color-menu-background;

  .profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 40px;

    &-image{
      width: 150px;
      height: 150px;

      border: 4px white solid;
      border-radius: 50%;

      margin-bottom: 20px;

      overflow: hidden;
    }
  }

  h1, p{
    color: $color-background;
  }

  h1{
    margin: 0 0 5px;
  }

  p{
    font-size: rem(18);
    margin: 0;
  }
}