.hero{
  background-color: $color-background;
  background: url("../images/7.jpg") center / cover no-repeat;

  .texte-bienvenue{
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 400px;
    padding: 20px;

    background-color: rgba(95, 109, 126, 0.4);

    h2, p{
      margin-left: rem(16);
      line-height: 1.2;
      color: $color-background;
    }

    p{
      font-size: rem(22);
    }
  }
}