.nav-principale{
  ul{
    margin: 0;
    padding: 0;

    display: none;
  }

  a{
    color: $color-background;

    display: flex;
    padding: 15px 40px;

    i{
      font-size: rem(24);
      margin-right: 15px;
    }

    &:hover{
      background-color: $color-link-hover;
    }
  }

  .show-menu{
    display: block;

    text-align: center;
    color: $color-background;
    background-color: $color-titre-section;

    padding: 10px 0;

    &+.toggle-menu:checked + ul{
      display: block;
    }
  }

  .toggle-menu{
    display: none;
  }
}