//FICHIER DE CONFIGURATION POUR LES VARIABLES DE COULEUR

// Couleur de base 
$color-text: #777;
$color-background: #fff;
$color-menu-background: #5f6d7e;
$color-titre-section: #555;
$color-link: $color-background;
$color-link-hover: darken($color-menu-background, 5%);
$color-link-actif: darken($color-menu-background, 15%);
